<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>sysbox</title>
  </head>
  <body>
    <div class="container">
      <div class="date">03/29/2021</div>
      <div class="clock">
        <div class="time">10:00</div>
        <div class="meridiem">pm</div>
      </div>
      <div class="metrics-container">
        <div class="cpu">
          <img
            style="vertical-align: middle"
            width="25"
            height="25"
            src="cpu-tower.svg"
            alt=""
          />
          15%
        </div>
        <div class="memory">
          <img
            style="vertical-align: middle"
            width="25"
            height="25"
            src="ram.svg"
            alt=""
          />
          10%
        </div>
        <div class="memory">
          <img
            style="vertical-align: middle"
            width="25"
            height="25"
            src="wifi.svg"
            alt=""
          />
          140.12 Mbps / 14.85 Mbps
        </div>
        <div class="docker">
          <img
            style="vertical-align: middle"
            width="25"
            height="25"
            src="docker.svg"
            alt=""
          />
          online: 2 containers
        </div>
      </div>
    </div>
  </body>
</html>
